<!DOCTYPE html>
<html lang="en">
  <head>
    
    {# This is the base template for the site–other templates extend this one #}
    
    <meta charset="utf-8" />
    <link rel="icon" href="https://file.garden/aHv0Hbj9PThoD4eE/android-chrome-512x512.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Sean's really awesome amazing blog!" />
    <link rel="manifest" href="/public/manifest.json">
    <meta property="og:title" content="Sean of All Trades" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.soatblog.com" />
<meta property="og:image" content="https://file.garden/aHv0Hbj9PThoD4eE/seanofalltrades-text.png" />
    <meta property="og:logo" content="https://file.garden/aHv0Hbj9PThoD4eE/android-chrome-512x512.png" />
    <link rel="stylesheet" type="text/css" href="/public/style2.css" />
    <link rel="me" href="https://www.theseanobrien.com/" />
    <link rel="alternate" href="/public/rss.xml" type="application/rss+xml" />
    {% seo "" %}
  </head>
  <body>
  <main>
    
    {# Page or post content will appear here #}
  
    {{ content | safe }}

      
    <div class="push">
      
    </div>
  </main>
   <footer class="footer">
        <div class="links">
          <a href="/">Home</a>
          <span class="divider">|</span>
          <a href="/posts">Posts</a>
          <span class="divider">|</span>
          <a href="/about">About</a>
          <span class="divider">|</span>
          <a href="https://www.soatblog.com/public/rss.xml"><img id="rss-img" src="https://cdn-icons-png.flaticon.com/128/4945/4945908.png"></a>
        </div>
        
      </footer>
    <script>
 if (!navigator.serviceWorker.controller) {
     navigator.serviceWorker.register("/sw.js").then(function(reg) {
         console.log("Service worker has been registered for scope: " + reg.scope);
     });
 }
</script>
  </body>
  
</html>